<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BillTracker</title>
    <script type="importmap"></script>
    <link rel="shortcut icon" type="image/png" href="~/assets/images/logos/favicon.png"/>
    <link rel="stylesheet" href="~/assets/css/styles.min.css"/>

</head>
<body>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            @RenderBody()
        </div>
        <div class="card-footer bg-light text-center py-3">
            <p class="mb-2 small text-muted">&copy; 2024 - <span class="fw-bold text-primary">BillTracker</span></p>
            <p class="mb-0">
                <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-muted text-decoration-none me-3">
                    Privacy Policy
                </a>
                <a href="mailto:support@billtracker.com" class="text-muted text-decoration-none">
                    Contact Us
                </a>
            </p>
        </div>
    </div>
</div>


<script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
