<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BillTracker</title>
    <script type="importmap"></script>
    <link rel="shortcut icon" type="image/png" href="~/images/logos/favicon.png"/>
    <link rel="stylesheet" href="~/css/styles.min.css"/>
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap5.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
    @RenderBody()
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - Bill Tracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>


<script src="~/libs/jquery/dist/jquery.min.js"></script>
<script src="~/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/sidebarmenu.js"></script>
<script src="~/js/app.min.js"></script>
<script src="~/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="~/libs/simplebar/dist/simplebar.js"></script>
<script src="~/js/dashboard.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bootstrap4.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
