@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button id="TestingButton" class="btn btn-sm btn-success">Click Me!</button>
</div>

@section scripts{
    <script>
        $(document).ready(function (){
            $("#TestingButton").click(function (){
            console.log("I am ok");
            toastr.success("I am alright");
            });
        });
    </script>
}